.git/
.github/
_site/
node_modules/
.npm-cache/
test-results/
tests/
docs/
readme_preview/
Gemfile
Gemfile.lock
_bibliography/
_books/
_data/
_includes/
_layouts/
_news/
_pages/
_posts/
_projects/
_sass/
_scripts/
_teachings/
*.md
*.yml
*.yaml
!docker-compose.yml
